* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  font-family: 'Inter';
  color: #2B283A
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
